<section class="bg-{{ .cards_third_img.bg_color }}">

    <div class="container max-w-7xl mx-auto px-4">

        <div class="grid grid-cols-12 md:gap-6">
            {{ range .cards_third_img.cards }}
            <div class="col-span-12 lg:col-span-4 bg-white p-6 md:p-8 lg:p-10 shadow-xl mb-6 md:mb-0" {{ if .aos }}
                data-aos="{{ .aos }}" data-aos-duration="800" {{ end }}>

                <div class="flex flex-col items-center">
                    
                    <img src="https://ik.imagekit.io/supersonicsites/tr:ar-4-3,w-468,bl-30,q-50,c_scale,f_auto,q_auto,dpr_auto,/{{ .img }}"
                        sizes="100vw"
                        width="468px"
                        height="361px"
                        data-srcset="
                        https://ik.imagekit.io/supersonicsites/tr:ar-4-3,w-768,c_scale,f_auto,q_auto,dpr_auto,/{{ .img }} 640w,
                        https://ik.imagekit.io/supersonicsites/tr:ar-4-3,w-968,c_scale,f_auto,q_auto,dpr_auto,/{{ .img }} 768w,
                        https://ik.imagekit.io/supersonicsites/tr:ar-4-3,w-1268,c_scale,f_auto,q_auto,dpr_auto,/{{ .img }} 1280w"
                        data-src="https://ik.imagekit.io/supersonicsites/tr:ar-4-3,w-980,c_scale,f_auto,q_auto,dpr_auto,/{{ .img }} 1536w"
                        class="lazyload mb-6 lg:max-h-72" alt="{{ .img_alt }}" />


                    <h3 class="font-bold text-center text-3xl md:text-3xl text-black mb-6">
                        {{ .title }}
                    </h3>
                    <p class="text-center mb-6 md:mb-8 md:text-xl">
                        {{ .desc }}
                    </p>
                    {{ if .cta }}
                    <a href="{{ .Site.BaseURL}}{{ .cta_link }}"
                        class="transition duration-500 text-center w-full text-xl font-bold btn_primary">
                        {{ .cta }}
                    </a>
                    {{ else }}
                    <span></span>
                    {{ end }}
                </div>
            </div>
            {{ end }}

        </div>
    </div>
</section>