
<script src="https://www.google.com/recaptcha/api.js" async></script>

<div class="relative bg-{{ .bg_color }}">
  <div class="absolute inset-0">
    <div class="absolute inset-y-0 left-0 w-1/2 bg-gray-50"></div>
  </div>
  <div class="relative max-w-7xl mx-auto lg:grid lg:grid-cols-5">
    <div class="bg-gray-50 py-8 px-4 sm:px-6 lg:col-span-2 lg:px-8 lg:py-24 xl:pr-12">
      <div class="max-w-lg mx-auto">
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
          {{ .title }}
        </h2>
        <p class="mt-3 text-lg leading-6 text-gray-500">
          {{ .desc }}
        </p>
        <dl class="mt-8 text-base text-gray-500">
          {{ if .address_toggle }}
          <div>
            <dt class="sr-only">Postal address</dt>
            <dd>
              <p>{{ .address1 }}</p>
              <p>{{ .address2 }}</p>
            </dd>
          </div>
          {{ end }}
          
          <div class="mt-3">
            <dt class="sr-only">Email</dt>
            <dd class="flex">
              <!-- Heroicon name: outline/mail -->
              <svg class="flex-shrink-0 h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
              <span class="ml-3">
                  {{ .email }}
              </span>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="bg-white py-8 px-4 sm:px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <form action="https://usebasin.com/f/62ce0078a688" method="POST" id="invisible-recaptcha-form" class="grid grid-cols-1 gap-y-6">
          <div>
            <label for="Full Name" class="sr-only">Full name</label>
            <input type="text" name="Full Name" id="full_name" autocomplete="name" required
              class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 rounded-sm focus:border-white ring-primary"
              placeholder="Full name">
          </div>
          <div>
            <label for="email" class="sr-only">Email</label>
            <input id="email" name="email" type="email" autocomplete="email" required
              class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 rounded-sm focus:border-white ring-primary"
              placeholder="Email">
          </div>
          <div class="flex flex-row">
            <div class="mr-3 w-full">
            <label for="Phone Number" class="sr-only">Phone</label>
            <input type="text" name="Phone Number" id="phone" autocomplete="tel" required
              class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 rounded-sm focus:border-white ring-primary"
                   placeholder="Phone">
                     
             </div>
            <div class="w-full">
            <label for="city" class="sr-only">Town & Province</label>
            <input type="text" name="city" id="city" autocomplete="tel" required
              class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 rounded-sm focus:border-white ring-primary"
                   placeholder="Town & Province">
                     
             </div>
          </div>
          
          <div class="flex flex-col md:flex-row">
            <div class="mr-3 w-full">
            <label for="Proposal Or Bachelorette" class="mb-6">Are you interested in a proposal or bachelorette package?</label><br><br>

            <input name="Proposal Or Bachelorette" type="radio" value="Yes" class="text-primary ring-primary" /> Yes <br /> 
	          <input name="Proposal Or Bachelorette" type="radio" value="No" class="text-primary ring-primary" /> No <br />
            </div>
            <div class="w-full mt-6 md:mt-0">
            <label for="package" class="mb-6">Do you have a preferred package ?</label><br><br>

            <input name="package" type="radio" value="Intimate Elopement" class="text-primary ring-primary" required /> Intimate Elopement <span class="text-sm">(Max 6 pers)</span><br /> 
	          <input name="package" type="radio" value="West Coast Elopement" class="text-primary ring-primary" required /> West Coast Elopement <span class="text-sm">(Max 10 pers)</span><br /> 
            <input name="package" type="radio" value="Tiny Wedding" class="text-primary ring-primary" required/> Tiny Wedding <span class="text-sm">(Max 15 pers)</span><br /> 
	          <input name="package" type="radio" value="Adventure Elopement" class="text-primary ring-primary" required /> Adventure Elopement <br /> 
            </div>
          </div>

          <div class="flex flex-col md:flex-row mb-6">
            <div class="mr-3 w-full mb-6 md:mb-0">
              <label for="Guest Count" class="">Estimate Guests Count</label>
            <input type="text" name="Guest Count" id="count" required
              class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 rounded-sm focus:border-white ring-primary"
                   placeholder="Guests Count - Max 15">
            </div>
            
            <div class="w-full">
              <label for="Preferred Date" class="">Preferred Date</label>
              <input type="date" name="Preferred Date" id="date" required
              class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 rounded-sm focus:border-white ring-primary"
                   placeholder="Preferred Date">
              </div>
            </div>
          </div>
          <div>
            <label for="Message" class="sr-only">Message</label>
            <textarea required id="message-input" name="message" rows="4" 
              class="block w-full shadow-sm py-3 px-4 mb-6 placeholder-gray-500 rounded-sm focus:border-white ring-primary hs-form__field__input" aria-invalid="false" aria-labelledby="message-label" aria-describedby="message-description" aria-required="false" spellcheck="false" placeholder="Message"></textarea>


          </div>
          <input type="hidden" name="_gotcha">
          <div class="g-recaptcha" data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy"></div>

          <div>
            <button class="btn_primary transition duration-500" style="margin-top: 10px;">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



