{{ if .bg_toggle }}

<header class="h-52 md:h-72 md:pb-6 flex flex-col justify-center md:mt-0 bg-cover bg-{{ .bg_color }}">
    <div class="container max-w-7xl mx-auto flex flex-col px-4">
        <h1 class="capitalize text-4xl md:text-7xl text-center sm:text-left text-white">{{ .title }}</h1>
    </div>

</header>
<p class="text-right">Credit: <a href="https://jenmcleod.com/" class="underline pr-5" rel="nofollow" target="_blank">Jen McLeod</a></p>
{{ else }}
<header class="h-52 md:h-72 md:pb-6 flex flex-col justify-center md:mt-0 bg-cover bg-top md:bg-left-bottom"
style="background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://ik.imagekit.io/supersonicsites/tr:ar-45-9,w-1600,c_scale,f_auto,q_auto,dpr_auto,/{{ .img }}');">
    <div class="container max-w-7xl mx-auto flex flex-col px-4">
        <h1 class="capitalize text-4xl md:text-7xl text-center sm:text-left text-white">{{ .title }}</h1>
    </div>

</header>
<p class="text-right">Credit: <a href="https://jenmcleod.com/" class="underline pr-5" rel="nofollow" target="_blank">Jen McLeod</a></p>
{{ end }}