<header
  class="h-52 md:h-72 md:pb-6 flex flex-col justify-center mt-24 md:mt-0 bg-cover relative bg-center bg-cover bg-no-repeat"
  style="background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://ik.imagekit.io/supersonicsites/tr:ar-45-9,w-1600,c_scale,f_auto,q_auto,dpr_auto,/{{ .header_sub.img }}');"
>
  <div class="container max-w-7xl mx-auto flex flex-col px-4">
    <h1
      class="font-bold capitalize text-4xl md:text-7xl text-center sm:text-left text-white"
    >
      {{ .header_sub.title }}
    </h1>
  </div>
</header>
