<section class="bg-{{ .bg_color }}">


    <div class="container max-w-7xl mx-auto px-4">
        {{ if eq .bg_color "white" }}

            {{ if eq .title_size "big" }}

                <h2 class="capitalize font-bold text-5xl md:text-6xl lg:text-7xl text-{{ .align }} text-black">
            {{ .title }}
                </h2>
            {{ end }}

            {{ if eq .title_size "medium" }}

            <h2 class="  capitalize font-bold text-4xl md:text-5xl lg:text-6xl text-{{ .align }} text-black">
            {{ .title }}
            </h2>
            {{ end }}

            {{ if eq .title_size "small" }}
            <h2 class="  capitalize font-bold text-3xl md:text-4xl lg:text-4xl text-{{ .align }} text-black">
            {{ .title }}
            </h2>
            {{ end }}

            {{ if .desc_select }}
            <p class="mt-6 text-black text-{{ .align }} text-xl">{{ .desc | safeHTML  }}</p>
            {{ end }}           
        {{ else }}

        {{ if eq .title_size "big" }}
        <h2 class="  capitalize font-bold text-5xl md:text-6xl lg:text-7xl text-{{ .align }} text-white">
            {{ .title }}
        </h2>
        {{ end }}

        {{ if eq .title_size "medium" }}
        <h2 class=" capitalize font-bold text-4xl md:text-5xl lg:text-6xl text-{{ .align }} text-white">
            {{ .title }}
        </h2>
        {{ end }}

        {{ if eq .title_size "small" }}
        <h2 class="  capitalize font-bold text-3xl md:text-4xl lg:text-4xl text-{{ .align }} text-white">
            {{ .title }}
        </h2>
        {{ end }}

        
        {{ if .desc_select }}
        <p class="mt-6 text-{{ .align }} text-xl text-white">{{ .desc | safeHTML }}</p>
        {{ end }}      


        {{ end }}

    </div>
</section>

