
<section 
class="h-screen mt-20 md:mt-0 py-96 md:py-64 px-8 text-white flex bg-cover bg-bottom bg-cover bg-no-repeat" 
style="background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://ik.imagekit.io/supersonicsites/{{ .hero.image }}');">

  <div class="container max-w-7xl mx-auto flex flex-col justify-center items-center md:items-start">

    <div class="lg:max-w-4xl" data-aos="fade" data-aos-duration="1500">
      <p class="font-bold uppercase text-2xl text-center md:text-left" >

        {{ .hero.pre_title }}
      </p>
    <h1 class="font-bold capitalize text-5xl md:text-7xl text-center md:text-left">
      {{ .hero.title }}
    </h1>

    <h2 class="font-bold capitalize text-2xl md:text-3xl text-center md:text-left my-3">
      {{ .hero.desc }}
    </h2>

    <div class="flex flex-col items-center md:flex-row">
    <a href="{{ .hero.cta_link }}"
      class="transition duration-500 text-center w-full md:w-1/4 py-2 px-4 mt-5 md:mr-5 text-lg font-bold bg-white text-primary border-2 border-white hover:border-primary hover:bg-primary hover:text-white">
      {{ .hero.cta }}
    </a>
    {{ if .hero.cta2 }}
    <a href="{{ .hero.cta2_link }}"
    class="transition duration-500 w-full  text-center md:w-1/4 py-2 px-4 mt-5 text-lg font-bold bg-primary text-white border-2 border-primary hover:border-white hover:bg-white hover:text-primary">
    {{ .hero.cta2 }}
  </a>
    {{ else }}
    <span></span>
  {{ end }}
  </div>
  </div>
  </div>
  </section>