<section class="bg-{{ .img_half_right.bg_color }}"> <!--- Section 3 -->
  <div class="container max-w-7xl mx-auto px-4">


    <div class="grid grid-cols-12 md:gap-12 lg:gap-20">

      <div class="col-span-12 md:col-span-6 order-2 md:order-1">
        <div class="flex flex-col justify-between h-full">
          <div class="mb-6">
            {{ if .img_half_right.bg_color }}
            <h2
              class="font-bold text-white capitalize text-3xl md:text-4xl lg:text-5xl my-4 md:my-0 md:mb-6">
              {{ .img_half_right.title }}
            </h2>
            <p class="text-lg text-white">{{ .img_half_right.desc | safeHTML }}</p>
          </div>
          {{ else }}
          <h2
          class="font-bold capitalize text-3xl md:text-4xl lg:text-5xl my-4 md:my-0 md:mb-6">
          {{ .img_half_right.title }}
          </h2>
          <p class="text-lg">{{ .img_half_right.desc | safeHTML }}</p>
          </div>
          {{ end }}
        {{ if .img_half_right.cta }}

          <a href="{{ .Site.BaseURL}}{{ .imgbox3.box3_cta_link }}"
            class="transition duration-500 btn_primary md:w-72">
            {{ .img_half_right.cta }}
          </a>
        
        {{ else }}
        <span></span>
        {{ end }}
          </div>
      </div>

      <div class="col-span-12 md:col-span-6 order-1 md:order-2">
        <img
          src="https://ik.imagekit.io/supersonicsites/tr:ar-1-1,w-584,bl-30,q-50,/{{ .img_half_right.img }}"
          sizes="100vw"
          width="584px"
          height="584px"
          data-srcset="
          https://ik.imagekit.io/supersonicsites/tr:ar-1-1,w-584,c_scale,f_auto,q_auto,dpr_auto,/{{ .img_half_right.img }} 640w,
          https://ik.imagekit.io/supersonicsites/tr:ar-1-1,w-584,c_scale,f_auto,q_auto,dpr_auto,/{{ .img_half_right.img }} 768w,
          https://ik.imagekit.io/supersonicsites/tr:ar-1-1,w-584,c_scale,f_auto,q_auto,dpr_auto,/{{ .img_half_right.img }} 1280w"
          data-src="https://ik.imagekit.io/supersonicsites/tr:ar-1-1,w-584,c_scale,f_auto,q_auto,dpr_auto,/{{ .img_half_right.img }} 1536w"
          {{ if .img_half_right.aos }}
          data-aos="{{ .img_half_right.aos }}" data-aos-duration="800"
          {{ end }}
          class="lazyload shadow-2xl"
          alt="{{ .img_half_right.img }}" />
      </div>

    </div>

  </div>
</section>