<section id="pricing" class="bg-{{ .bg_color }}">
    <div class="max-w-7xl mx-auto px-4">
      <div class="sm:flex sm:flex-col sm:align-center">
        <h2 class="capitalize text-3xl md:text-4xl lg:text-5xl my-4 md:my-0 md:mb-2 sm:text-center">{{ .title }}</h2>
        <p class="mt-5 text-xl text-gray-500 sm:text-center">{{ .desc }}</p>
      </div>
      
      <div class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-4">
        {{ range .pricing_cards }}
        <div class="border border-gray-200 rounded-md shadow-sm divide-y divide-gray-200">
          <div class="p-6">
            <h2 class="text-2xl md:text-xl leading-6 font-medium text-gray-900">{{ .title }}</h2>
            <p class="mt-4">
              <span class="text-4xl font-extrabold text-gray-900">{{ .price }}</span>
              {{ if .price_monthly }}
              <span class="text-base font-medium text-gray-500">/mo</span>
              {{ end }}
            </p>
            <a href="{{ .cta_link }}" class="mt-8 block w-full bg-primary transition duration-500 border border-primary rounded-sm py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">{{ .cta }}</a>
          </div>
          <div class="pt-6 pb-8 px-6">
            <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">What's included</h3>
            <ul class="mt-6 space-y-4">
              {{ range .features}}
              <li class="flex space-x-3">
                <!-- Heroicon name: solid/check -->
                <svg class="flex-shrink-0 h-5 w-5 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="text-sm text-gray-500 text-xl sm:text-base font-sans">{{ .feature }}</span>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
      </div>
      
    </div>
  </section>