<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->

        {{ range .slides }}
      <div class="swiper-slide">
        <img src="https://ik.imagekit.io/supersonicsites/tr:ar-1-1,w-2000,q-100,/{{ .slide }}"
                        sizes="100vw"
                        data-srcset="
                        https://ik.imagekit.io/supersonicsites/tr:ar-25-9,w-1200,c_scale,f_auto,q_auto,dpr_auto,/{{ .slide }} 340w,
                        https://ik.imagekit.io/supersonicsites/tr:ar-25-9,w-1400,c_scale,f_auto,q_auto,dpr_auto,/{{ .slide }} 540w,
                        https://ik.imagekit.io/supersonicsites/tr:ar-25-9,w-2000,c_scale,f_auto,q_auto,dpr_auto,/{{ .slide }} 2000w,"
                        data-src="https://ik.imagekit.io/supersonicsites/tr:ar-25-9,w-1580,c_scale,f_auto,q_auto,dpr_auto,/{{ .slide }}"
                        class="w-full lg:hidden lazyload" alt="{{ .slide_alt }}" />  

        <img src="https://ik.imagekit.io/supersonicsites/tr:ar-21-9,w-3000,dpr_auto,/{{ .slide }}"
                        sizes="100vw"
                        width="2000px"
                        height="857px"
                        data-srcset="
                        https://ik.imagekit.io/supersonicsites/tr:ar-21-9,w-3000,dpr_auto,q-100,/{{ .slide }} 1200w,
                        https://ik.imagekit.io/supersonicsites/tr:ar-21-9,w-3000,dpr_auto,q-100,/{{ .slide }} 2000w,"
                        data-src="https://ik.imagekit.io/supersonicsites/tr:ar-21-9,w-3000,dpr_auto,q-100,/{{ .slide }}"
                        class="w-full hidden lg:block lazyload" alt="{{ .slide_alt }}" />  
        
        </div>
      {{ end }}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  

  
  </div>