<section class="mt-24">
    <div class="container max-w-7xl mx-auto px-4">
      <h2 class="font-bold capitalize text-3xl lg:text-5xl text-center mb-12">
        {{ .textbox3.title }}
      </h2>
      <div class="lg:max-w-4xl mx-auto">
      <p class="text-center mb-24">
        {{ .textbox3.desc }}
      </p>
    </div>
      <div class="grid grid-cols-12 md:gap-12">
  
        <div class="col-span-12 mb-12 lg:col-span-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0" >
          <div class="flex flex-col items-center">
            <h3 class="font-bold text-5xl md:text-7xl text-primary mb-8">
                {{ .textbox3.box1_title }}
            </h3>
            <h4 class="font-bold text-3xl text-black mb-8">
                {{ .textbox3.box1_subtitle }}
            </h4>
            <p class="text-center">{{ .textbox3.box1_desc }}</p>
          </div>
        </div>
  
  
        <div class="col-span-12 mb-12 lg:col-span-4"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
          <div class="flex flex-col items-center">
            <h3 class="font-bold text-5xl md:text-7xl text-primary mb-8">
                {{ .textbox3.box2_title }}
            </h3>
            <h4 class="font-bold text-3xl text-black mb-8">
                {{ .textbox3.box2_subtitle }}
            </h4>
            <p class="text-center">
                {{ .textbox3.box2_desc }}
            </p>
          </div>
        </div>
  
  
        <div class="col-span-12 mb-12 lg:col-span-4"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="1000">
          <div class="flex flex-col items-center">
            <h3 class="font-bold text-5xl md:text-7xl text-primary mb-8">
                {{ .textbox3.box3_title }}
            </h3>
            <h4 class="font-bold text-3xl text-black mb-8">
                {{ .textbox3.box3_subtitle }}
            </h4>
            <p class="text-center">
                {{ .textbox3.box3_desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </section>