<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">



<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

<meta name="description" content="{{ .Params.description }}" />
<meta itemprop="description" content="{{ .Params.description }}" />
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:description" content="{{ .Params.description }}" />

<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />

<base href="{{ .Permalink }}" />
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<meta itemprop="image" content="{{ .Site.Params.schema.ogimage | absURL }}" />
<meta property="og:image" content="{{ .Site.Params.schema.ogimage | absURL }}" />
<meta name="twitter:image" content="{{ .Site.Params.schema.ogimage | absURL }}" />
<meta name="twitter:image:src" content="{{ .Site.Params.schema.ogimage | absURL }}" />

<meta name="robots" content="noindex,nofollow" />
<meta name="googlebot" content="noindex,nofollow" />

<!-- Manifest File -->
<link rel="manifest" href="{{ .Site.BaseURL }}site.webmanifest" />

<meta property="og:locale" content="{{ .Language.Lang }}" />
<meta name="language" content="{{ .Language.LanguageName }}" />
{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" />
{{ end }}

<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "{{ .Site.Params.schema.type }}",
            "description":"{{ .Site.Params.description }}",
            "image":"{{ .Site.Params.schema.ogimage }}",
            "name":"{{ .Site.Params.sitename }}",
            "potentialAction":"Rent Online",
    }
    </script>