<!-- Main Script -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{{ $script := resources.Get "js/aos.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ $script := resources.Get "js/lazysizes.min.js" }}
<script src="{{ $script.Permalink }}" async></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.11.3/cloudinary-core-shrinkwrap.min.js" async></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" asybc></script>

{{ "<!-- cloudinary -->" | safeHTML }}
<script type="text/javascript" async>
    var cl = cloudinary.Cloudinary.new({cloud_name: "supersonicsites"}); 
    // replace 'demo' with your cloud name in the line above 
    cl.responsive();
	</script>

<script defer>
    AOS.init();
  </script>