<div class="flex flex-row items-start justify-start w-24 my-1">
                    
    <svg class="stars h-3">
        <use xlink:href="{{ .Site.BaseURL }}icons/solid.svg#star"></use>
      </svg>
      <svg class="stars h-3">
        <use xlink:href="{{ .Site.BaseURL }}icons/solid.svg#star"></use>
      </svg>
      <svg class="stars h-3">
        <use xlink:href="{{ .Site.BaseURL }}icons/solid.svg#star"></use>
      </svg>
      <svg class="stars h-3">
        <use xlink:href="{{ .Site.BaseURL }}icons/solid.svg#star"></use>
      </svg>
      <svg class="stars h-3">
        <use xlink:href="{{ .Site.BaseURL }}icons/solid.svg#star"></use>
      </svg>

</div>
