<div class="flex flex-row mb-8">
  <svg class="stars">
    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#star"></use>
  </svg>
  <svg class="stars">
    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#star"></use>
  </svg>
  <svg class="stars">
    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#star"></use>
  </svg>
  <svg class="stars">
    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#star"></use>
  </svg>
  <svg class="stars">
    <use xlink:href="{{ $.Site.BaseURL }}icons/solid.svg#star"></use>
  </svg>
</div>
